* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 600px;
  background-color: #020202;
}

.header,
.main,
.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #020202;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  color: aliceblue;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  padding: 10px 0;
  letter-spacing: 2px;
}

.ramka {
  position: relative;
  z-index: 0;
  width: 300px;
  height: 3px;
  overflow: hidden;
}
.ramka::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;

  width: 200%;
  height: 200%;
  background-color: #f2fc70;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;

  animation: anim-ramka-5 4s linear infinite;
}

@keyframes anim-ramka-5 {
  100% {
    transform: rotate(1turn);
  }
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  min-height: auto;
}

.main_img {
  max-width: 80%;
  margin: 0 auto;
}

.main__text {
  text-align: center;
}

.main__text_h2,
.main__text_p {
  color: aliceblue;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

.main__adress {
  width: 100%;
  padding: 30px 0 40px;
  display: flex;
  justify-content: space-around;
}

.main__adress_wrapper {
  text-align: center;
}

.main__adress_sity {
  color: aliceblue;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.4em;
}

.main__adress_tel {
  text-decoration: none;
  color: aliceblue;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.7em;
}

/* Footer */
.footer {
  width: 100%;
  min-height: 46px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.footer__title {
  font-size: 14px;
  color: aliceblue;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
}

@media (690px <= width <= 844px) {
  .main_img {
    width: 100%;
  }

  .main__text_h2 {
    font-size: 1.3em;
  }

  .main__adress_sity {
    font-size: 0.7em;
  }

  .main__adress_tel {
    font-size: 1.1em;
  }
}

@media (490px <= width <= 690px) {
  /* Main */
  .main {
    padding-bottom: 15px;
  }

  .main_img {
    width: 100%;
  }

  .main__text_h2 {
    font-size: 1em;
  }

  .main__adress {
    padding: 40px 0 30px;
  }

  .main__adress_sity {
    font-size: 0.7em;
  }

  .main__adress_tel {
    font-size: 1.1em;
  }

  /* Footer */
  .footer__title {
    font-size: 11px;
  }
}

@media (290px <= width <= 490px) {
  /* Header */
  .header__title {
    font-size: 1.5em;
  }
  /* Main */
  .main {
    padding-bottom: 5px;
  }

  .main_img {
    max-width: 100%;
  }

  .main__text_h2 {
    font-size: 1em;
  }

  .main__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 30px;
  }

  .main__adress_sity {
    font-size: 1.1em;
  }

  .main__adress_tel {
    font-size: 1.3em;
  }

  /* Footer */
  .footer__title {
    font-size: 11px;
  }
}

@media (width <= 290px) {
  /* Header */
  .header__title {
    font-size: 1em;
  }

  /* Main */
  .main_img {
    max-width: 100%;
  }

  .main__text_h2,
  .main__text_p {
    font-size: 0.6em;
  }

  .main__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main__adress_sity {
    font-size: 0.7em;
  }

  .main__adress_tel {
    font-size: 0.9em;
  }

  /* Footer */
  .footer__title {
    font-size: 9px;
    text-align: center;
  }
}
