@import url(../styles/variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 600px;
}

.header,
.main,
.footer {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color); /* Светлый фон */
  color: #333;
}

.header {
  background-color: var(--background-header);
  /*padding: 20px;*/
  text-align: center;
}

.header__img {
  width: 93%;
  margin: 0 auto;
}

.header__title {
  font-size: 2.5em;
  color: white;
}

.header__title:first-letter {
  color: #fa0606;
}

.header__antikor {
  font-weight: bold;
  /*-webkit-text-stroke: 2px #fa0606;*/
  font-weight: 400;
  font-family: var(--font-family);
}

.header__rf {
  font-weight: 400;
  font-family: var(--font-family);
}

.header__country {
  /* font-style: italic;*/
  display: inline-block;
  /*background: linear-gradient(
    to bottom,
    #ffffff 39.33%,
    #0000ff 40.33%,
    #0000ff 64.66%,
    #ff0000 63.66%
  );*/
  background: linear-gradient(to bottom, white 25.33%, blue 58.66%, red 75.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
}

.main {
  padding: 20px;
  text-align: center;
}

.main__title {
  margin-bottom: 30px;
}

.main__p {
  font-size: 1.5em;
  color: #1a1a1d;
}

.main__img {
  width: 300px;
  margin-top: 20px;
}

.main__text_h2 {
  font-size: 2em;
  color: #1a1a1d;
}

.main__text_p {
  font-size: 1.2em;
  margin: 10px 0;
}

.main__adress {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.main__adress_wrapper {
  width: 18em;
  margin: 10px;
  padding: 15px;
  border: 2px solid #1a1a1d;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main__adress_sity {
  font-size: 1.5em;
  color: #333;
}

.main__adress_tel {
  font-size: 1.2em;
  color: #ff6347;
  text-decoration: none;
}

.main__adress_tel:hover {
  text-decoration: underline;
}

.footer {
  background-color: #1a1a1d;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer__title {
  color: white;
  font-size: 1em;
  font-family: var(--font-family);
}
