:root {
  /* Fonts */
  --font-family: "Montserrat", "Arial", sans-serif;
  --font-second: "Amatic SC", sans-serif;

  /* Color */
  --background-header: #000;
  --background-color: #eef0f3;

  --rusty-brown: #4b3d32;
  --rust-orange: #e1722399;
  --charcoal-black: #282828;
  --black: #1a1a1d;
  --white: #fff;
}
